a:link {
	color: #bbbbbb;
}
a:visited {
	color: #bbbbbb;
}
a:hover {
	color: #ffffff;
}
a:active {
	color: #ffffff;
}
#wrapper {}

#menu{
	border: 2px solid black;
	padding: 2px;
	background-color: #202020;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#menu ul{margin: 0, auto;}
#menu ul li{float:center;}

h1 {
	font-family: arial;
	font-size: 28px;
	text-align: center;
	color: #bbbbbb;
}
body {
	background-image: url(images/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-color: #101010;
}
#home{}
#myresume {}
#linkedin {}
#main {
	margin: 0, auto;
	padding: 5px;
}
#pic {
	border: 2px solid black;
	margin-top: 2%;
	margin-left: 2%;
	float:left;
	width: 20%;
}
#txt {
	padding: 1px;
	border: 2px solid black;
	opacity: 0.8;
	filter: alpha(opacity=80);
	font-family: arial;
	background-color: #202020;
	font-size: 20px;
	color: #ffffff;
	margin-left: 25%;
	margin-right: 25%;
}
#resume {
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	width: 50%;
}